<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="title-proyecto">Proyectos</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="title-descripcion">Aquí podrás encontrar algunos proyectos realizados para diferentes clientes</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-card style="text-align: center;">
                <mat-card-title class="title-dialog">Solistica</mat-card-title>
                    <mat-card-actions>
                        <p class="description-dialog">Maquetación y consumo de servicios json para sus listas de pedidos y viajes. Mediante:</p>
                        <ul class="description-dialog">
                            <li>
                                Angular v15
                            </li>
                            <li>
                                Typescript
                            </li>
                            <li>
                                Scss
                            </li>
                            <li>
                                Angular material
                            </li>
                        </ul>
                        <button mat-button (click)="openDialogSolistica()">Maqueta</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card style="text-align: center;">
              
            <mat-card-title class="title-dialog">Fake Detection - BBVA</mat-card-title>
                <mat-card-actions>
                    <p class="description-dialog">Creación del guardado de score Fake Detection y parametrización. Para detectar cuando una huella no es auténtica, para BBVA. Mediante:</p>
                    <ul class="description-dialog">
                        <li>Webcomponents propios del banco</li>
                        <li>Lit-element</li>
                        <li>Redux</li>
                        <li>Consumo de servicios ASO</li>
                    </ul>
                    <button mat-button (click)="openDialogHuella()">Maqueta</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card style="text-align: center;">
              
            <mat-card-title class="title-dialog">Casa de bolsa - Banamex</mat-card-title>
                <mat-card-actions>
                    <p class="description-dialog">Migración del sitio mediante:</p>
                        <ul class="description-dialog">
                            <li>Angular v8</li>
                            <li>Typescript</li>
                            <li>Css</li>
                            <li>Consumo de servicios JSON</li>
                            <li>Pruebas unitarias con Jasmine y Karma</li>
                        </ul>
                    <button mat-button (click)="openDialogCasa()">Maqueta</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-4">
            <mat-card style="text-align: center;">
                <mat-card-title class="title-dialog">Comunicados de prensa - Banamex</mat-card-title>
                    <mat-card-actions>
                        <p class="description-dialog">Migración del sitio mediante:</p>
                            <ul class="description-dialog">
                                <li>Angular v9</li>
                                <li>Typescript</li>
                                <li>Css</li>
                                <li>Consumo de servicios JSON</li>
                                <li>Pruebas unitarias con Jasmine y Karma</li>
                            </ul>
                        <button mat-button (click)="openDialogComunicados()">Maqueta</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card style="text-align: center;">
                <mat-card-title class="title-dialog">Diseños Figma</mat-card-title>
                    <mat-card-actions>
                        <p class="description-dialog">Diseños de inferdas de usuarios en Figma</p>
                        <button mat-button (click)="openDialogFigma()">Maqueta</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
