<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="title-proyecto">Proyectos</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="title-descripcion">Aquí podrás encontrar algunos proyectos realizados para diferentes clientes</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-card style="text-align: center;">
              
                        <mat-card-title class="title-dialog">Solistica</mat-card-title>
                <mat-card-actions>
                    <p class="description-dialog">Maquetación y consumo de servicios json para sus listas de pedidos y viajes. Mediante Angular v15, typescript, scss, angular material.</p>
                    <button mat-button (click)="openDialogSolistica()">Maqueta</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-4">
            <p>BBVA</p>
        </div>
        <div class="col-md-4">
            <p>BBVA</p>
        </div>
    </div>
</div>
