<div class="background-contacto">
    <div class="row">
        <div class="col-md-12">
            <p class="title-contacto">{{ contacto }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="title-contactame">{{ cotactame }}</p>
        </div>
    </div>
    <div class="row" style="">
        <div class="col-md-6 center">
            <a href="{{ hrefGithub }}" target="_blank">
                <img src="{{ svgGithub }}" alt="github" class="github">
            </a>        
        </div>
        <div class="col-md-6 center">
            <a href="{{ hrefLinkedin }}" target="_blank">
                <img src="{{ svgLinkedin }}" alt="linkedin" class="linkedin">   
            </a>      
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="title-creado">{{ creado }}</p>
        </div>
    </div>
    <br><br><br>
</div>
