<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 center">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header >
              <mat-panel-title >
                Habilidades principales
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-md-3 center">
                    <img src="{{ html }}" alt="tecnologia" class="image">
                </div>
                <div class="col-md-3 center">
                    <img src="{{ css }}" alt="tecnologia" class="image">
                </div>
                <div class="col-md-3 center">
                    <img src="{{ js }}" alt="tecnologia" class="image">
                </div>
                <div class="col-md-3 center">
                    <img src="{{ angular }}" alt="tecnologia" class="image">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 center">
                    <img src="{{ react }}" alt="tecnologia" class="image">
                </div>
                <div class="col-md-3 center">
                    <img src="{{ type }}" alt="tecnologia" class="image">
                </div>
                <div class="col-md-3 center">
                    <img src="{{ node }}" alt="tecnologia" class="image">
                </div>
                <div class="col-md-3 center">
                    <img src="{{ express }}" alt="tecnologia" class="image">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 center">
                    <img src="{{ mongo }}" alt="tecnologia" class="image">
                </div>
                <div class="col-md-3 center">
                    <img src="{{ mysql }}" alt="tecnologia" class="image">
                </div>
                <div class="col-md-3 center">
                    <img src="{{ java }}" alt="tecnologia" class="image">
                </div>
                <div class="col-md-3 center">
                    <img src="{{ lit }}" alt="tecnologia" class="image">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 center">
                    <img src="{{ material }}" alt="tecnologia" class="image">
                </div>
                <div class="col-md-3 center">
                    <img src="{{ mui }}" alt="tecnologia" class="image">
                </div>
                <div class="col-md-3 center">
                    <img src="{{ bootstrap }}" alt="tecnologia" class="image">
                </div>
                <div class="col-md-3 center">
                    <img src="{{ spring }}" alt="tecnologia" class="image">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 center">
                    <img src="{{ github }}" alt="tecnologia" class="image">
                </div>
                <div class="col-md-3 center">
                    <img src="{{ gitlab }}" alt="tecnologia" class="image">
                </div>
                <div class="col-md-3 center">
                    <img src="{{ bitbucket }}" alt="tecnologia" class="image">
                </div>
                <div class="col-md-3 center">
                    <img src="{{ azure }}" alt="tecnologia" class="image">
                </div>
            </div>
          </mat-expansion-panel>        
    </div>
    <div class="col-md-2"></div>
</div>

