.background-tecnologias{
    background-color: #19FAF0;
}

.image{
    width: 35%;
    height: 35%;
}

.title{
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-panel-title {
    justify-content: center !important;
    color: #3F979B;
    font-weight: 500;
}