.foto{
    width: 20%;
    height: 70%;
    border-radius: 3rem;
}

.rol-profile{
    text-align: center;
    color: #3F979B;
    font-weight: 600;
    font-size: 1rem;
}

.title-rol{
    text-align: center;
    color: #3F979B;
    font-size: 1.6rem;
}

