<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ fakeOne }}" alt="huella" class="huella">
      </div>
      <div class="carousel-item">
        <img src="{{ fakeTwo }}" alt="huella" class="huella">
      </div>
      <div class="carousel-item">
        <img src="{{ fakeThree }}" alt="huella" class="huella">
      </div>
      <div class="carousel-item">
        <img src="{{ fakeFour }}" alt="huella" class="huella">
      </div>
      <div class="carousel-item">
        <img src="{{ fakeFive }}" alt="huella" class="huella">
      </div>
      <div class="carousel-item">
        <img src="{{ fakeSix }}" alt="huella" class="huella">
      </div>
      <div class="carousel-item">
        <img src="{{ fakeSeven }}" alt="huella" class="huella">
      </div>
      <div class="carousel-item">
        <img src="{{ fakeEight }}" alt="huella" class="huella">
      </div>
      <div class="carousel-item">
        <img src="{{ fakeNine }}" alt="huella" class="huella">
      </div>
      <div class="carousel-item">
        <img src="{{ fakeTen }}" alt="huella" class="huella">
      </div>
      <div class="carousel-item">
        <img src="{{ fakeEleven }}" alt="huella" class="huella">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>